.title{
    color:saddlebrown;
    text-align: center;
    font-family: monospace;
    background-color:bisque;
    width: 100%;
    height: 5vh;
    display: block;
}

.modalbutton{
    position: absolute;
    left: 80%;
    top: 4%;
    background-color:rgb(125, 119, 114);
    font-family: monospace;
    color: white;
    
}

.products_container{
    width: 20%;
    height: 60vh;
    float: left;
    margin: 1%;
    line-height: 2vh;
    background-color:rgb(125, 119, 114);
    padding: 1vw;
}

.products_title{
    background-color:bisque;
    border: 1px solid black;
    font-family: monospace;
}

.products_image{
    background-color:rgb(255, 255, 255);  
    width: 100%;
    height: 30vh;
    vertical-align: middle;
}

.products_content{
background-color:rgb(125, 119, 114);
color:white;
font-family: monospace;
}

.container{
    width: 40%;
    position: relative;
    left: 30%;
    background-color:rgb(125, 119, 114);
    color:white;
    font-family: monospace;
    text-align: center;
}
